<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/card.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>Admin Products Lists</h1>
        <% if(products.length > 0) { %>
            <div class="card__container">
                <% for(let p of products) { %>
                    <div class="card">
                        <div class="card_title"><%= p.title %></div>
                        <img src="<%= p.imageUrl %>" alt="" class="card_image">
                        <p class="card_price">$<%= p.price %></p>
                        <p class="card__desc"><%= p.description %></p>
                        <div class="card__actions">
                            <a href="/admin/edit-product/<%= p._id %>?edit=true" class="btn__primary">Edit</a>
                            <a href="/admin/delete-product/<%= p._id %>" class="btn__primary">Delete</a>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <h2>There is no product</h2>
        <% } %>
    </main>
<%- include('../includes/footer.ejs') %>