<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(products.length > 0) { %>
            <ul class="cart__container1">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <p>Title - <%= p.title %></p>
                        <p>Quantity - <%= p.quantity %></p>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= p._id %>" name="productId">
                            <button class="btn__primary" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
                <form action="/orders" method="POST" class="order__btn">
                    <button class="btn__primary">Order</button>
                </form>
            </ul>
        <% }else{ %>
            <h2>There is no product in Cart.</h2>
        <% } %>
    </main>
<%- include('../includes/footer.ejs') %>