<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(orders.length > 0) { %>
            <ul class="order__container1">
                <% orders.forEach(order => { %>
                    <li >
                        <h1>#<%= order._id %></h1>
                        <ul class="item__container">
                            <% order.products.forEach((p, index) => { %>
                                <li class="order__item">
                                    <p><span class="order__index"><%= index+1 %>.</span>Title - <%= p.product.title %></p>
                                    <p>Quantity - <%= p.quantity %></p>
                                </li> 
                            <% }) %>
                        </ul>
                    </li>
                    <hr />
                <% }) %>
                
            </ul>
        <% }else{ %>
            <h2>There is no order.</h2>
        <% } %>
    </main>
<%- include('../includes/footer.ejs') %>